<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Your Name</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="#" data-target="home">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#" data-target="about">About</a></li>
                <li class="nav-item"><a class="nav-link" href="#" data-target="projects">Projects</a></li>
                <li class="nav-item"><a class="nav-link" href="#" data-target="skills">Skills</a></li>
                <li class="nav-item"><a class="nav-link" href="#" data-target="appointment">Appointment</a></li>
                <li class="nav-item"><a class="nav-link" href="#" data-target="contact">Contact</a></li>
            </ul>
            <select id="languageSwitcher" class="form-control ms-3">
                <option value="en">English</option>
                <option value="fr">Français</option>
                <option value="es">Español</option>
            </select>
        </div>
    </div>
</nav>
