.justified-text {
    text-align: justify;
    padding: 20px; /* Optional: Adds padding around the text */
    line-height: 1.6; /* Optional: Adjusts line spacing for better readability */
    font-size: 16px; /* Optional: Adjusts font size */
}

.skills-container {
    display: flex;
    justify-content: space-around; /* Space around each skill for equal spacing */
    align-items: center;
    width: 100%; /* Full width of the container */
    padding: 20px; /* Optional padding around the skills container */
}

.skill-item {
    display: flex;
    align-items: center;
    flex-direction: column; /* Aligns icon and text vertically */
    text-align: center; /* Centers the text below the icon */
}

.lang{
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: -15px;
    z-index: 99999;
    width: 44px;
    height: 44px;
    border-radius: 50px;
    transition: all 0.4s;
}

.lang.active {
    visibility: visible;
    opacity: 1;
    bottom: 15px;
  }
  
.language-switcher button {
padding: 10px;
border-radius: 50px;
background-color: #343a40;
color: white;
border: none;
cursor: pointer;
}